<section>
  <div class="container">
    <div class="line-01">
      <div class="line-item">
        <div>
          <h2 class="title">Baixar Nosso App</h2>
        </div>
        <div class="line-content">
          <a href="#">
            <img
              width="130"
              height="45"
              src="https://ingresso-a.akamaihd.net/catalog/Content/img/apple-9a270c319c.svg"
              alt="Icone Apple"
            />
          </a>

          <a href="#">
            <img
              width="130"
              height="45"
              src="https://ingresso-a.akamaihd.net/catalog/Content/img/google-play-530d88bac6.png"
              alt="Icone GooglePay"
            />
          </a>
        </div>
      </div>
      <!-- Item - 01 -->
      <div class="line-item">
        <div>
          <h2 class="title">Siga-nos nas redes</h2>
        </div>
        <div class="line-content">
          <i class="uil uil-facebook-f"></i>
          <i class="uil uil-youtube"></i>
          <i class="uil uil-instagram"></i>
          <i class="uil uil-linkedin"></i>
        </div>
      </div>
      <!-- Item - 02-->
      <div class="line-item">
        <div>
          <h2 class="title">Precisa de Ajuda?</h2>
        </div>
        <div class="line-content">
          <a href="#" class="button">Atendimento</a>
        </div>
      </div>
      <!-- Item - 03-->
    </div>
    <!-- End - line - 01 -->
    <div class="line-01">
      <div class="line-item">
        <div>
          <h2 class="title">Menu</h2>
        </div>
        <div class="line-content">
        <ul>
          <li> Filmes</li>
          <li> Cinemas</li>
          <li> Eventos</li>
        </ul>
        </div>
      </div>
      <!-- Item - 01 -->
      <div class="line-item">
        <div>
          <h2 class="title">Institucional</h2>
        </div>
        <div class="line-content">
          <ul>
            <li> Quem Somos</li>
            <li> Assessoria de Imprensa</li>
            <li> Bootstrap Ingresso.com </li>
            <li> Vale-Presente Corporativo</li>
            <li> Ingresso.com atende</li>
            <li> movieID.com</li>
            <li> Faça parte do time</li>
          </ul>
        </div>
      </div>
      <!-- Item - 02-->
      <div class="line-item">
        <div>
          <h2 class="title">Dúvidas
          </h2>
        </div>
        <div class="line-content">
          <ul>
            <li> Atendimento</li>
            <li> Site ou e-mails falsos</li>
            <li> Procon-RJ</li>

          </ul>
        </div>
      </div>
      <!-- Item - 03-->
      <div class="line-item">
        <div>
          <h2 class="title">Políticas</h2>
        </div>
        <div class="line-content">
          <ul>
            <li> Prevenções</li>
            <li> Privacidade e Segurança</li>
            <li> Política de Cookies</li>
            <li> Meia-entrada</li>
            <li> Trocas e Cancelamentos</li>
            <li> Leis Estaduais e Municipais</li>
            <li> Termos de Uso</li>
          </ul>
        </div>
      </div>
      <!-- Item - 03-->
    </div>
    <!-- End - line - 2 -->
    <div class="line-01">
      <div class="line-item">
        <div>
          <h2 class="title">Troque seus Pontos</h2>
        </div>
        <div class="line-content">
          <a href="#">
            <img src="https://ingresso-a.akamaihd.net/sitenovo-2017/comum/img/payment-easylive.png" alt="Easylive" width="44" height="34">
          </a>

          <a href="#">
            <img src="https://ingresso-a.akamaihd.net/sitenovo-2017/comum/img/payment-livelo.png" alt="Livelo" width="44" height="34">
          </a>
          <a href="#">
            <img src="https://ingresso-a.akamaihd.net/sitenovo-2017/comum/img/payment-tudo-azul.png" alt="Tudo Azul" width="44" height="34">
          </a>
          <a href="#">
            <img src="https://ingresso-a.akamaihd.net/sitenovo-2017/comum/img/payment-dotz.png" alt="Dotz" width="44" height="34">
          </a>
        </div>
      </div>
      <!-- Item - 01 -->
      <div class="line-item">
        <div>
          <h2 class="title">Formas de Pagamento</h2>
        </div>
        <div class="line-content line-content-2">
          <ul>
            <li class="line-subtitle">
              Crédito
            </li>
            <li>
              <ul>
                <li>   <div class="card"></div></li>
                <li>   <div class="card"></div></li>
                <li>   <div class="card"></div></li>
                <li>   <div class="card"></div></li>
                <li>   <div class="card"></div></li>
                <li>   <div class="card"></div></li>
                <li>  <div class="card"></div> </li>
              </ul>
            </li>
          </ul>
          <ul>
            <li class="line-subtitle">
              Crédito
            </li>
            <li>
              <ul>
                <li>   <div class="card"></div></li>
                <li>   <div class="card"></div></li>
                <li>   <div class="card"></div></li>
                <li>   <div class="card"></div></li>
                <li>   <div class="card"></div></li>
                <li>   <div class="card"></div></li>
                <li>  <div class="card"></div> </li>
              </ul>
              <ul>
                <li>   <div class="card"></div></li>
              </ul>
            </li>
          </ul>
          <ul>
            <li class="line-subtitle">
              Carteiras Digitais
            </li>
            <li>
              <ul>
                <li>   <div class="card"></div></li>
                <li>   <div class="card"></div></li>
                <li>   <div class="card"></div></li>
              </ul>

            </li>
          </ul>

        </div>
      </div>
      <!-- Item - 02-->
      <div class="line-item">
        <div>
          <h2 class="title">Campeã em atendimento
          </h2>
        </div>
        <div class="line-content">
          <img src="https://ingresso-a.akamaihd.net/sitenovo-2017/comum/img/ingresso-awards-2019.png" alt="Dotz" width="184" >
        </div>
      </div>
      <!-- Item - 03-->
      <div class="line-item">
        <div>
          <h2 class="title">Selo do Consumidor

          </h2>
        </div>
        <div class="line-content">
          <img src="https://ingresso-a.akamaihd.net/sitenovo-2017/img/consumer.png" alt="Dotz" width="184" >
        </div>
      </div>
      <!-- Item - 03-->
    </div>
    <!-- End - line - 03 -->
    <div >
      <div class="ftr-copyright">
          <span>Ingresso.com Ltda</span>
          <span> / CNPJ: 00.860.640/0001-71 <strong>Endereço:</strong> <span>Rua da Quitanda, 86 - 9º andar</span> - <span>Centro - RJ</span> - <span>20091-005</span></span><br>
          <a target="_blank" href="https://atendimentoicom.zendesk.com/hc/pt-br" onmousedown="trackEvent({
                          event: 'gaEventPush',
                          event_category: 'NationalHome',
                          event_action: 'Footer',
                          event_label: 'Click on Support Smaller Link',
                          event_value: '0',
                          event_non_interaction: false });">Atendimento ao cliente</a>
          <span>© 2022 - Copyright Ingresso.com - todos os direitos reservados</span>
      </div>
  </div>
  </div>
</section>
