<section class="banner">
  <div  [routerLink]="['deatails', this.destaque.id]">
    <div class="img">
      <img
       [src]="this.destaque.url[1].url"
        alt="{{this.destaque.title}}"
        srcset=""
      />
      <div class="genre" >
        <h1 itemprop="name" class="carousel-caption-title h5">
        {{this.destaque.title}}
        </h1>
        <div style="display:flex ;">
          <div *ngFor="let item of destaque.genres" s>
            <span class="tag tag-genre">{{item}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-slider [AddTitle]="'Em breve'" [Slider]="this.embrev"></app-slider>

